@tailwind base;
@tailwind components;
@tailwind utilities;

/* We will only have dark color scheme */
:root {
  --foreground-rgb: 252, 245, 237;
  --background-rgb: 21, 21, 21;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
